body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 100%;
  margin-top: 50px;
  
}

.question{
  font-size: 20px;
  color: black;
  margin: 10px;
}

.answer{
  font-size: 20px;
  color: black;
  margin: 10px;
}

.title{
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.quiz-heading{
  font-size: 40px;
  color:#087191;
  margin:10px;
  text-align:center;
}

.submitquiz{
  margin:20px;
}

/* .selectquiz{
  width: 500px;
  margin-top:20px;

} */

.scoreboard{
  font-size: 28px;
  color:#7a0925;
}


.selection{
  width:400px;
}

.selectquiz{
  margin-top: 20px;
  margin-left: 40px;
  text-align:center;
}

.square{
  width: 130px;
  height: 130px;
  background-color: #343A40;
  color: #FFFFFF;
  font-size: 20px;
}

.square1{
  width: 180px;
  height: 100px;
  background-color: #343A40;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
  text-align:center;
  margin: 50px 0px 20px 0px;
}